@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
    url('../fonts/subset-Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
    url('../fonts/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

h1 {
    font-size: 2em
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none;
    display: block;
    max-width: 100%;
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

textarea {
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

*, ::after, ::before, legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.page {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #8757ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
    background: #EDEDEE;
}

@media (max-width: 576px) {
    .page {
        padding: 18px 0;
    }
}

li, ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .container {
        padding: 0 10px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    margin: 0 0 20px;
    padding: 9px 25px 8px 17px;
    background: linear-gradient(180deg, #FFFFFF 36.24%, rgba(112, 0, 255, 0) 540.6%);
    filter: drop-shadow(0px 20px 24px rgba(112, 0, 255, 0.13));
    border-radius: 20px;
    min-height: 189px;
    position: relative;
}

@media (max-width: 768px) {
    .contacts {
        min-height: 169px;
        margin-bottom: 13px;
    }
}
@media (max-width: 576px) {
    .contacts {
        min-height: 149px;
    }
}


.contacts .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FF013E;
    border-radius: 20px;
    color: #fff;
}

.contacts .person .avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 15px 15px 10px 10px;

}

.contacts .person .avatar img {

}

.contacts .person .name {
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .contacts .person .avatar {
        width: 100px;
        height: 100px;
    }
    .contacts .person .name {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .contacts .person .avatar {
        width: 100px;
        height: 100px;
    }
    .contacts .person .name {
        font-size: 13px;
    }
}

@media (max-width: 415px) {
    .contacts .person .avatar {
        width: 70px;
        height: 70px;
    }
}

.contacts .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    gap: 30px;
    /*padding-bottom: 20px;*/
}

.contacts .social a {
    line-height: 32px;
    /*flex: 0 0 calc(25% - 10px);*/
    flex: 0 1 auto;
    text-decoration: none;
    color: #1C1E23;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    transition: all 0.2s linear;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    background: linear-gradient(180deg, rgba(112, 0, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 3px 8px rgba(112, 0, 255, 0.35);
    border-radius: 10px;

    padding: 5px 7px;
    transition: all 0.2s linear;
}

.contacts .social a::before {
    content: '';
    width: 32px;
    height: 32px;
    background: no-repeat left center / 32px;
    transition: transform 0.2s linear;
}

.contacts .social a:hover {
    filter: brightness(1.1);
}

.contacts .social a:hover::before {
    /*transform: scale(1.2);*/
}

@media (max-width: 1080px) {
    .contacts .social {
        flex-wrap: wrap;
    }
    .contacts .social a {
        flex: 0 0 calc(50% - 50px);
    }
}

@media (max-width: 768px) {
    .contacts .social {
        gap: 10px;
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .contacts .social a {
        flex: 0 0 calc(50% - 5px);
    }
}

@media (max-width: 576px) {
    .contacts .social {
        max-width: 280px;
    }
    .contacts .social a {
        line-height: 24px;
        font-size: 11px;
        padding: 5px 7px;
    }
    .contacts .social a::before {
        width: 24px;
        height: 24px;
        background: no-repeat left center / 24px;
    }
}

@media (max-width: 374px) {
    .contacts .social  {
        gap: 1vw;
    }
    .contacts .social a {
        font-size: 2.9vw;
        padding: 2vw;
        gap: 2vw;
        line-height: 5vw;
    }
    .contacts .social a::before {
        width: 5vw;
        height: 5vw;
        background: no-repeat left center / contain;
    }
}

.contacts .social a.soc-in::before {
    background-image: url(../images/icon-in.svg);
}

.contacts .social a.soc-tg::before {
    background-image: url(../images/icon-tg.svg);
}

.contacts .social a.soc-yt::before {
    background-image: url(../images/icon-yt.svg);
}

.contacts .social a.soc-tt::before {
    background-image: url(../images/icon-tt.svg);
}

.contacts .social a.support {
    white-space: nowrap;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FF013E;
    border-radius: 10px 0px;
    padding: 8px 15px 6px 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    box-shadow: none;
    overflow: hidden;
}

.contacts .social a.support::after {
    content: "";
    display: block;
    width: 1em;
    height: 100%;
    background: rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transform: rotate(45deg) scale(2.5);
    animation: 3s linear 0s infinite normal animation-blink;
}


.contacts .social a.support::before {
    position: static;
}

@media (max-width: 768px) {
    .contacts .social a.support {
    }
}

.contacts .social a.support::before {
    background-image: url(../images/icon-support.svg);
}

.large-block {
    border-radius: 20px 20px 10px 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .large-block {
        margin-bottom: 10px;
    }
}

.large-block .block-image {
    width: 100%;
    height: auto;
    display: block;
}

.large-block img {
}

.links {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    display: grid;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 20px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .links {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 10px 20px;
    }
}

@media (max-width: 768px) {
    .links {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 5px 10px;
    }
}

.links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16ad38;
    border: 2px solid #16ad38;
    padding: 6px 20px;
    min-height: 60px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    text-align: center;
}

@media (max-width: 768px) {
    .links a {
        min-height: 40px;
        font-size: 14px;
        padding: 6px 10px;
    }
}

.links a:hover {
    transform: scale(1.1);
}

.block-link {
    max-width: 840px;
    margin: 0 auto 10px;
}

.heart-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #16ad38;
    border: 2px solid #16ad38;
    padding: 6px 10px;
    min-height: 60px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    animation: 1s linear animation-heart-beat infinite;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    transition: opacity 0.2s linear;
    text-transform: uppercase;
}

.heart-button:hover {
    opacity: 0.9;
}

.heart-button::before {
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    background: url(../images/ok.svg) no-repeat center / contain;
}

.heart-button::after {
    content: '';
    display: block;
    width: 42px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
}

.title {
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FF013E;
    font-weight: 800;
}

@media (max-width: 768px) {
    .title {
        font-size: 18px;
        margin-bottom: 13px;
    }
}

@media (max-width: 576px) {
    .title {
        margin-bottom: 10px;
        border-radius: 3px;
    }
}

.block-break {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 43px;
}

.block-break::before, .block-break::after {
    content: '';
    display: block;
    width: auto;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    opacity: 0.3;
    background: -webkit-gradient(linear, right top, left top, from(#8757ff), to(rgba(255,255,255,0)));
    background: -o-linear-gradient(right, #8757ff 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, #8757ff 0%, rgba(255,255,255,0) 100%);
}

.block-break::after {
    background: -webkit-gradient(linear, left top, right top, from(#8757ff), to(rgba(255,255,255,0)));
    background: -o-linear-gradient(left, #8757ff 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, #8757ff 0%, rgba(255,255,255,0) 100%);
}

.block-break .arrow {
    width: 17px;
    height: 17px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17px;
    flex: 0 0 17px;
    background: url(../images/arrow.svg) no-repeat center / contain;
}

.blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .blocks {
        gap: 10px;
    }
}

.block {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 calc(25% - 15px);
}

@media (max-width: 768px) {
    .block {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .block {
        flex: 0 0 calc(50% - 5px);
    }
}

.block-image {
    display: block;
    margin-bottom: 0;
    position: relative;
}

@media (max-width: 768px) {
    .block-image {
        border-radius: 0;

    }
}

.block-image img {
    display: block;
    width: 100%;
}

.block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    border: 0;
    position: relative;
    overflow: hidden;
    transition: opacity 0.2s linear;
    background: #FF013E;
    box-shadow: 0px 20px 24px rgba(112, 0, 255, 0.13);
}

@media (max-width: 992px) {
    .block-button {
        font-size: 1.6vw;
        min-height: 5.6vw;
    }
}

@media (max-width: 768px) {
    .block-button {
        font-size: 2.5vw;
        min-height: 7.5vw;
    }
}

.block-button:hover {
    opacity: 0.9;
}

.block-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation: 3s linear 0s infinite normal ping
}

.large-block .block-button {
    font-size: 16px;
}

.block:nth-child(2n) .block-button::after {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.block:nth-child(3n) .block-button::after {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
}
.block:nth-child(5n) .block-button::after {
    -webkit-animation-delay: 0.14s;
    animation-delay: 0.14s;
}
.block:nth-child(7n) .block-button::after {
    -webkit-animation-delay: 0.17s;
    animation-delay: 0.17s;
}
.block:nth-child(11n) .block-button::after {
    -webkit-animation-delay: 0.19s;
    animation-delay: 0.19s;
}

.block-button span {

}

.block .play {
    position: absolute;
    right: 15px;
    top: 8px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 11px;
    height: calc(100% - 16px);
}

@media (max-width: 370px) {
    .block .play {
        height: 24px;
        top: calc(50% - 12px);
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .block .play {
        right: 7px;
    }
}

.footer {
    background: linear-gradient(180deg, #FFFFFF 36.24%, rgba(112, 0, 255, 0) 540.6%);
    filter: drop-shadow(0px 20px 24px rgba(112, 0, 255, 0.13));
    border-radius: 20px;
    font-weight: 800;
    font-size: 9px;
    line-height: 11px;

    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 13px 13px 14px 17px;
}

@keyframes animation-heart-beat {
    0%,20%,70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02)
    }

    42% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}

@keyframes animation-blink {
    0% {
        left: -100%
    }

    100%,20% {
        left: 100%;
        margin-left: 5rem
    }
}

@keyframes ping {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}